* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  outline: none;
  border: none;
  transition: all 0.3s ease;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  overflow: hidden;
}

body {
  position: relative;
}

@media screen and (max-width: 720px) {
  * {
    transition: none;
  }
}

a {
  text-decoration: none;
  color: black;
}

button {
  background-color: transparent;
}

input::marker {
  fill: white;
  background-color: white;
}

textarea {
  resize: none;
}

span {
  display: inline-block;
  content: "";
}
